.header {
    width: 1920px;
    height: 1080px;
    background-image: url(../assets/images/header-bg-img.png);
}

.smoothies {
    background: white;
}

.about {
    background: rgb(10, 87, 45);
}

.footer {
    background: orange;
}