.header {
    height: 768px;
    background-image: url(../assets/images/header-bg-img1366x768.jpg);
}

.smoothies {
    background: white;
}

.about {
    background: #178671;
}

.products {
    display: flex;
}

.instagram__gallery {
    display: flex;
    
}

.footer {
    background: #faab3b;
}

.footer__top {
    display: flex;
    flex-direction: row;
}