.header {
    height: 768px;
    background-image: url(../assets/images/header-bg-img1366x768.jpg);
}

.smoothies {
    background: white;
}

.about {
    background: #178671;
}

.footer {
    background: orange;
}